<div id = "footer">

<footer class="page-footer red darken-4">
          <div class="container">
            <div class="row center">
                          
              <div class="col s12">
                <div class="white-text">
                <ul class = "inline">
                <%= link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;  <%= link_to 'About Bread Express', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Privacy Policy', privacy_path %>
	<br /><br />
</ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container center">
            © 2015 Copyright  Ann Chen
            
        </footer>
      </div>
