<div class="fields">
      <!-- x icon to remove -->
      <!-- fields -->
      <%= f.input :username %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>


    </div>
  </div>