 <div class="row">
        <div class="col s8 offset-s2">
          <div class="card">
            <div class="card-content black-text">


	     <a class="waves-effect waves-dark btn red darken-4 right" <%= link_to 'EDIT', edit_user_path(@user) %> </a>


<h4>User Information</h4>

<p>
  <b>Username</b>: <%= @user.username %>
</p>

<p>
  <b>Role</b>: <%= @user.role %>
</p>

<p>
  <b>Active</b>: <%= @user.active %>
</p>
</div>
</div>
</div>
</div>