<%if !current_user.role?(:admin)%>

<h3>Sign up</h3>

<p>Already have an account? <%= link_to "Log in", login_path %>.</p>

<%else%>

<% if !logged_in? %>
<%= render 'customers/customer_form' %>

<%else%>
<%= render 'form' %>
<%end%>
<%end%>
