
<div class="row container">
	<div class="col s12 m12 ">

<div class="card image">



<%= image_tag 'bread.jpg', class: "responsive-img"%>     
<div class = "card-content">


	<% if !current_user.nil? && current_user.role?(:admin) %>
	<div class="card-content">
            	          <h4> Welcome, Admin </h4>
            	Here you can manage the premiere online baked goods store that delivers delicious carbohydrates right to your front door. Create, view, and modify your users, addresses, items, and orders to your heart's content.</p>
            </div>
            <div class="card-action">

        <ul class="collection with-header">
        <li class="collection-header"><h5>Links to help you get started</h5></li>
        <a href= "/users/new" class="collection-item">New Customer</a>
        <a href="/addresses/new" class="collection-item">New Address</a>
        <a href="/items/new" class="collection-item">New Item</a>

      </div>

            </div>
          </div>
          <%else%>

		
			<h3>Welcome To A &amp; M Bread Express</h3>
			</p>
			Bread Express is the smallest, but absolutely best, online bakery 
			we know of.  You should order lots of our products now.  They are
			delicious, nutritious and amazing in every way.  Why are you still 
			reading this?  You should be ordering bread right now.  Stop reading 
			and start ordering.  (Still reading? What are you waiting for?)
		</p>
	</br>

	<div class="left">

	<% if !logged_in? %>
			<h5>What are you waiting for?:</h5>
			<p>

				If you are a registered user, 
			  <%= link_to "click here to login", login_path %>. </br> If you want 
			  to create an account with us, <%= link_to "please click to register as a customer", signup_path %>.
			</p>
			<%end%>

			<%end%>
	</div>
</div>
</div>
</div>


