<div id = "main_content">
<div class="row">
  <div class="col s12 m6">
    <h2><em>About A &amp; M Bread Express</em></h2>

    <p>
    	Welcome to the wonderful world of Bread Express. Experience the joys of our delicious breads, pastries, and muffins that are sent directly to your house. Enjoy cheap shipping, delicious products, and this gorgeous and totally not buggy website.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>
</div>