
<% if current_user.role?(:admin) %>

<% if @inactive_items.empty? %>
  <h4>No inactive items at this time.</h4>
<% else %>

 
    <h3>Inactive Items</h3>
    <ul>
      <% @inactive_items.each do |item| %>
        <li><%= link_to item.name, item_path(item) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <%= will_paginate @inactive_items, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  

  <%end%>
